<!DOCTYPE html>
<html>
  <head>
    <meta chrset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/login">OTHELLO online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#parts">
        <span class=""navbar-toggler-icon></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="parts">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/login">ログイン</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">新規登録</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="mt-5">
      <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card bg-light">
        <div class="card-header"><h2>新規登録</h2></div>
        <div class="card-body">
          <form action="register" method="post">
            <div class="form-group">
              <label for="username">ユーザーネーム</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
              <label for="password">パスワード</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="半角英数字のみ">
            </div>
            <% if(alertDisplay !== "") { %>
              <div class="alert alert-danger" role="alert"><%= alertDisplay %></div>
            <% } %>
            <button type="submit" class="btn btn-primary">新規登録</button>
          </form>
          <!--<hr>
          <a href="/" class="card-link">未登録の方はこちら</a>-->
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
